<div class="modal modal_login" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hi, please sign in/up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>If you wanna have all functions worked on this web, you must to sign in/up. Have a good day:)</p>
      </div>
      <div class="modal-footer">
        <div class='pressed-button'><%= link_to "Log in", '/login', method: :get%></div>
        <div class='pressed-button'><%= link_to "Sign Up", '/autors/new'%></div>
      </div>
    </div>
  </div>
</div>

